<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
    <!-- Definiciones de servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FacturaServlet</servlet-name>
        <servlet-class>Servlet.FacturaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacturaServlet</servlet-name>
        <url-pattern>/FacturaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HealthCheckServlet</servlet-name>
        <servlet-class>Servlet.HealthCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HealthCheckServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    <!-- Definiciones de filters -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Otras configuraciones -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>  <!-- ¡NO DEBE HABER NADA DESPUÉS DE ESTA ETIQUETA! -->